<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta charset="UTF-8" />
<link href="../static/css/voting.css" th:href="@{/css/voting.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="header" th:fragment="cabecera" align="center">
		<h2>Votaciones</h2>
		<hr />

		<form action="#" th:action="@{/votacion}" 
		th:object="${votacion}" method="post">
	
			<select name="Votaciones"
				onchange="document.getElementById('votacionElegida').value=this.options[this.selectedIndex].text">
	
			<div th:each="v: ${votaciones}">
			
				<option th:value="${v}">
				<p th:text="''+${v.definicion}"></p>
				</option>
				
			</div>
				
			</select>

			<input type="submit" name="verVotacion" value="Ver Votacion" />
			
		</form>

	</div>
	
	<?php

	if(isset($_POST['verVotacion'])){

    	$makerValue = $_POST['Votaciones']; // make value

   		$maker = mysql_real_escape_string($_POST['selectedVotacion']); // get the selected text
    	echo $maker;

	}
 	?>
	
</body>
</html>